@font-face {
  font-family: 'TT Norms Pro';
  src: url('./fonts/TTNormsPro-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('./fonts/TTNormsPro-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('./fonts/TTNormsPro-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Encode Sans';
  src: url('./fonts/EncodeSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Encode Sans';
  src: url('./fonts/EncodeSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
