.root {
  margin-left: 100px;
}

.formWrapper {
  max-width: 472px;
  background: var(--white);
  padding: 32px;
  border-radius: 48px;
  box-shadow: 0px 16px 40px rgba(20, 38, 70, 0.08);
}

.formText {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--secondaryDarkBlue900);
}

.button {
  margin-top: 16px;
  min-height: 48px;
  width: 100%;
}