.root {
  background: #fff;
  box-shadow: var(--shadow4);
}

.sm {
  border-radius: 24px;
  padding: 24px;
}

.md {
  padding: 32px;
  border-radius: 48px;
}

.lg {
  padding: 32px;
  border-radius: 48px;
}
